<h3>Welcome, <%= session[:player_name] %></h3>

Dealer's cards:
<ul>
	<% session[:dealer_cards].each do |card| %>
		<li><%=card%></li>
	<% end %>
</ul>

Player's cards:
<ul>
	<% session[:player_cards].each do |card| %>
		<li><%=card%></li>
	<% end %>
</ul>
<p><b><%=session[:player_name]%>, you got <%=total(session[:player_cards])%>. </b>What's your next move? </p>

<% if @show_hit_or_stay_btn %>
	<form action="/game/player/hit" method="post">
		<input type="submit" value="Hit" class="btn" />
	</form>

	<form action="/game/player/stay" method="post">
		<input type="submit" value="Stay" class="btn" />
	</form>
<% end %>