<h3>Welcome, <%= session[:player_name] %></h3>

Dealer's cards:
<ul>
	<% session[:dealer_cards].each do |card| %>
		<li><%=card%></li>
	<% end %>
</ul>

Player's cards:
<ul>
	<% session[:player_cards].each do |card| %>
		<li><%=card%></li>
	<% end %>
</ul>
<p>What's your next step? <%=session[:player_name]%> got <%=total(session[:player_cards])%></p>