<div id="game">
	
	<%if @loser %>
    <div class="alert alert-error"><%=@loser%></div>
  <% end %>
  <%if @winner %>
    <div class="alert alert-success"><%=@winner%></div>
  <% end %>

	<% if @show_play_again %>
		<p>
			<strong>Play again?</strong>
			<a href="/bet" class = "btn btn-primary">Yes</a>
			<a href="/game_over" class = "btn">No</a>
		</p>
	<% end %>

	</br>

	<h2>Blackjack!</h2>
	<h5>Welcome, <%= session[:player_name] %></h5>

	<div class="well">
		<h4>Dealer's cards:</h4>

		<% session[:dealer_cards].each_with_index do |card, index| %>
			<% if session[:turn] != "dealer" && index==0 %>
				<img src="/images/cards/cover.jpg" />
			<% else %>
				<%= card_image(card) %>
			<% end %>
		<% end %>

	</div>

	<% if @show_dealer_hit_btn %>
		<p><b>Dealer got <%=total(session[:dealer_cards]) %> and will hit.</b></p>
		<form id="dealer_hit_form" action="/game/dealer/hit" method="post">
			<input type="submit" class="btn btn-primary" value="Click to see dealer card &rarr;">
		</form>
	<% end %>

	<div class="well" id="player_cards">
		<h4>Player's cards:</h4>

		<% session[:player_cards].each do |card| %>
			<%= card_image(card) %>
		<% end %>

	</div>
	<p style="color: grey"><%= session[:player_name] %> has $<%= session[:player_pot] %> total. Bet for this round: $<%= session[:player_bet] %></p>
	<p><b><%=session[:player_name]%>, you got <%=total(session[:player_cards])%>. </b>What's your next move? </p>

	<% if @show_hit_or_stay_btn %>
		<form id="hit_form" action="/game/player/hit" method="post">
			<input type="submit" value="Hit" class="btn btn-success" />
		</form>

		<form id="stay_form" action="/game/player/stay" method="post">
			<input type="submit" value="Stay" class="btn btn-warning" />
		</form>
	<% end %>
</div>